
/* font-family: 'Source Sans Pro', sans-serif; */

@font-face {
    font-family: 'antoniolight';
    src: url('Antonio-Light-webfont.eot');
    src: url('Antonio-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('Antonio-Light-webfont.woff2') format('woff2'),
         url('Antonio-Light-webfont.woff') format('woff'),
         url('Antonio-Light-webfont.ttf') format('truetype'),
         url('Antonio-Light-webfont.svg#antoniolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	overflow: hidden;
}

/* ============== Navigation ============== */
#nav{
  position: fixed;
  width: 100%;
  background-color:rgba(0,0,0,0.5);
  z-index: 5;
  height: 45px;
}

#nav .logo {

}

#nav ul {
  margin-top: 13px;
  margin-right: 55px;
  float: right;
}

#nav ul li{
  margin-left: 75px;
  color: white;
  display: inline;
}

#nav ul li a {
  font-size: 18px;
  font-family: 'antoniolight', sans-serif;
  color: white;
  text-decoration: none;
}

/* ============== First Section -- Home ============== */

#home {
	background: url(../images/home_bg.jpg) 50% 0 no-repeat fixed;
	height: 800px;
	margin: 0 auto;
	width: 100%;
	position: relative;
	box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

#home .title_wrap{
  position: relative;
  top: 47%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#home h1 {
	font-family: 'antoniolight';
	font-size: 3em;
	color: white;
	text-align: center;
}

#home h1 span {
	font-family: 'Source Sans Pro', sans-serif;
	color: #0492ff;
	font-size: .4em;
	text-align: center;
}

.social {
	margin: 0 auto;
	width: 1000px;
}

#home ul li {
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

#home ul li:hover {
  -webkit-filter: grayscale(100%);
}

#home ul li {
	margin: 40px 0 0 0;
	float: right;
	display: inline;
	list-style-type: none;
	padding-right: 5px;
}

/* ============== Second Section -- Tilt1 ============== */

#tilt1 {
	background: white;
	height: 300px;
	margin: 50px auto 0;
	margin-left: -50px;
	width: 5000px;
	position: relative;
	-webkit-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	-ms-transform: rotate(5deg);
	transform: rotate(5deg);
}


/* ============== Third Section -- Portfolio ============== */

#linebreak {
	width: 50px;
	border-width: 1px;
	border-color: #0492ff;
	border-style: solid;
	margin-top: 15px;
	margin-bottom: 15px;
}

#portfolio {
	background: #ffffff;
	height: 1000px;
	margin: 0 auto;
	width: 100%;
	margin-top: -350px;
	max-width: 1920px;
	position: relative;
	font-family: 'Source Sans Pro', sans-serif;
}

#portfolio .aboutwork {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

#portfolio .aboutwork .copy {
	float: left;
	width: 450px;
}

#portfolio .aboutwork .copy h2 {
	font-family: 'antoniolight';
	font-size: 2em;
	text-align: left;
	padding-top: 160px;
}

#portfolio .aboutwork .copy p {
	font-size: 14px;

}

#portfolio .aboutwork .display {
	overflow: hidden;
}

#portfolio .aboutwork .display img  {
	padding-left: 20px;
	width: 700px;
	float: left;
}

 .portcontent_wrap {
	width: 100%;
}

.portcontent_wrap .portfolioimages {
	float: left;
	width: 25%;
}

.portcontent_wrap .portfolioimages img {
	z-index: 2;
	position: relative;
	-webkit-filter: grayscale(100%)
}

.portcontent_wrap .portfolioimages img:hover{
	position: relative;
	z-index: 4;
	-webkit-filter: grayscale(0%);
	filter:none;
	filter: grayscale(0);
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

/* ============== Forth Section -- Tilt2 ============== */

#tilt2 {
	z-index: 1;
	background: white;
	height: 300px;
	margin: 0 auto 0x;
	margin-left: -50px;
	width: 5000px;
	position: relative;
	-webkit-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
	-ms-transform: rotate(-5deg);
	transform: rotate(-5deg);
}

/* ============== Fifth Section -- About ============== */

#about {
	background: url(../images/about_bg.jpg) 50% no-repeat fixed;
	height: 1000px;
	margin: 0 auto;
	margin-top: 10px;
	width: 100%;
	max-width: 1920px;
	position: relative;
}

#about .resume_wrap{
  width: 200px;
  padding-top: 450px;
  margin: auto;
  text-align: center;
}

#about h2 {
  font-family: 'antoniolight';
  color: white;
  font-size: 2em;
  margin-bottom: 15px;
  letter-spacing: 2px;
}

#about .resume_button {
  border: solid thin #0492ff;
  font-family: 'Source Sans Pro';
  color: white;
  font-size: 14px;
  padding: 10px;
  text-decoration: none !important;
}

#about .resume_button a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

/* ============== Sixth Section -- Tilt3 ============== */

#tilt3 {
	background: #181818;
	height: 300px;
	margin: 0 auto 0;
	margin-left: -50px;
	width: 5000px;
	position: relative;
	-webkit-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	-ms-transform: rotate(5deg);
	transform: rotate(5deg);
}

/* ============== Seventh Section -- Contact ============== */

#contact {
	background: #292929;
	height: 250px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
	box-shadow: 20px 0 0 0 rgba(0,0,0,0.8);
}

#contact .contact_wrap {
	text-align: center;
	width: 400px;
	margin: 0 auto;
}

.button {
	border-radius: 7px;
	margin-top: 50px;
	background-color:#feb41c;
	text-indent:0;
	border:1px solid #e3a11b;
	display:inline-block;
	color:#292929;
	font-family:oswaldbook;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:100px;
	text-decoration:none;
	text-align:center;
}

.button:hover {
	background-color:#e3a11b;
}

.button:active {
	position:relative;
	top:1px;
}

#contact ul {

	width: auto;
	margin-top: 20px;

}

#contact ul li {

	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
        transition: all 1s ease;
}

#contact ul li:hover {
	-webkit-filter: grayscale(100%);
}

#contact ul li {
	display: inline;
}

#contact h5 {
	color: #202020;
	margin-top: 10px;
	font-family: aller;
}

/* ============== Hover Effects ============== */

.view {
    width: 210px;
    height: 325px;
    margin: 10px 30px 0 0;
    float: left;
    /*border: 10px solid #fff;*/
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #fff url(../images/bgimg.jpg) no-repeat center center
}
.view .mask, .view .content {
    width: 210px;
    height: 325px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.view img {
    display: block;
    position: relative
}
.view h4 {

    text-transform: uppercase;
    font-family: 'oswaldlight';
    color: white;
    text-align: center;
    position: relative;
    font-size: 1.5em;
    padding: 25px;
    background: rgba(0, 0, 0, 0.8);
    margin: 0 0 125px 0
}
.view p {
    font-family: 'allerregular';
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: white;
    padding: 15px 10px 15px;
    text-align: left;
}
.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000;
    height: 100%;
}
.view a.info:hover {
    box-shadow: 0 0 5px #000
}

.view-first img {
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}
.view-first .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   background-color: rgba(219,127,8, 0.7);
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
}

.view-first p {
   -webkit-transform: translateY(100px);
   -moz-transform: translateY(100px);
   -o-transform: translateY(100px);
   -ms-transform: translateY(100px);
   transform: translateY(100px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}
.view-first:hover img {
   -webkit-transform: scale(1.1,1.1);
   -moz-transform: scale(1.1,1.1);
   -o-transform: scale(1.1,1.1);
   -ms-transform: scale(1.1,1.1);
   transform: scale(1.1,1.1);
}
.view-first a.info {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view-first:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
}
.view-first:hover p {
   -webkit-transition-delay: 0.1s;
   -moz-transition-delay: 0.1s;
   -o-transition-delay: 0.1s;
   -ms-transition-delay: 0.1s;
   transition-delay: 0.1s;
}
.view-first:hover a.info {
   -webkit-transition-delay: 0.2s;
   -moz-transition-delay: 0.2s;
   -o-transition-delay: 0.2s;
   -ms-transition-delay: 0.2s;
   transition-delay: 0.2s;
}
